<!-- 画像相対パス -->
<% const path = ["../../assets/images/"]%>

<footer class="l-footer">
  <div class="l-footer__inner">
    <nav class="c-footerNav">
      <ul class="c-footerNav__list">
        <% const navText = [
          {text:"会社ついて"},{text:"私たちについて"},{text:"お客様の声"},{text:"実績"},{text:"お知らせ"},{text:"お問い合わせ"},{text:"プライバシーポリシー"},
        ]; %>

        <% for(var i = 0; i < navText.length; i++ ) {%>
        <li class="c-footerNav__item">
          <a href="#" class="c-footerNav__link"><%= navText[i].text %></a>
        </li>
        <% } %>
      </ul>
    </nav>

    <h1 class="c-footerLogo"><img src="<%= path %>mian-logo.png" alt="メイン会社ロゴ" class="c-footerLogo__img"></h1>
    <address class="l-footer__address">東京都渋谷区神南1-20-2 第一清水ビル4F</address>


  </div>
  <!-- /.l-footer__inner -->
  <small class="l-footer__copy">&copy;portfolio.Inc all rights reserved</small>

</footer>
</div><!-- l-wrap -->
</body>
</html>