@use "global" as *;

.l-header {
  position: fixed;
  width: 100vw;
  padding: 0 16px;
  border-bottom: 0.25px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.05);
  transition: 0.5s;
  &:hover {
    background-color: $colorWhite;
    transition: 0.5s;
    .l-header__icon {
      filter: none;
    }

    .l-header__path {
      fill: $colorBlack;
    }

    .l-header__bar {
      background-color: $colorBlack;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    height: 50px;
    margin: 0 auto;
    padding: 15px 0;
  }

  &__icon,
  &__path,
  &__bar {
    transition: 0.5s;
  }
}

@include mq (o-bigPc) {
  .l-header {
    &:hover {
      .l-header__navLink {
        color: $colorBlack;
      }
    }

    &__inner {
      justify-content: space-between;
    }
    &__navBtn {
      display: none;
    }

    &__navIcon {
      display: none;
    }
  }
}